.result-text {
    margin-left: 37px;
    font-size: 35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
  }
  
  .container-result-albuns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: space-around;
  }